
#facebookpopup-fanback {
    display:none;
    background:rgba(0,0,0,0.8);
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    z-index:99999;
}
#facebookpopup-fan-exit {
    width:100%;
    height:100%;
}
#facebookpopup-fanbox {
    background:white;
    height:308px;
    position:absolute;
    top:58%;
    left:63%;
    margin:-220px 0 0 -375px;
    -webkit-box-shadow: inset 0 0 50px 0 #ffffff;
    -moz-box-shadow: inset 0 0 50px 0 #ffffff;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: -220px 0 0 -375px;
    padding: 10px;
}
#facebookpopup-fanclose {
    float:right;
    cursor:pointer;
    background:url(../img/fanclose.png) no-repeat;
    height:56px;
    padding-left:20px;
    position:relative;
    padding-right:20px;
    margin-top:-20px;
    margin-right:-22px;
}
.facebookpopup-remove-border {
    height:1px;
    width:280px;
    margin:0 auto;
    margin-top:16px;
    position:relative;
    margin-left:20px;
}
#facebookpopup-linkit a.visited,#facebookpopup-linkit a,#facebookpopup-linkit a:hover {
    color:#80808B;
    font-size:10px;
    margin: 0 auto 5px auto;
    float:center;
}

.iframe{
    margin: 0px auto;
    border: 1px solid #80808B;
}

@media screen and (max-width: 767px) {
    #facebookpopup-fanbox {
        width:300px;
        height:320px;
        left:4% !important;
        top:8%;
        margin:0px auto;
        padding: 1%;
    }
    iframe{
        width: 290px;
    }
    .fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
        width: 90% !important;
    }
    
    .fb-like-box > span > iframe[style] {width: 90% !important;}
    
    #fb-root {
        display: none;
    }
}
